/* h1 {
    color: blueviolet;
    border: 2px solid gray;
    margin: auto;
 
} */
 h1:hover{  /* hover change the colur acoording to cursior */
   color: blue;
 }

a:visited{   /* visited will be green after click */
    color : green
}

/* a{
    color: green;
} */

/* a[href="http://www.google.com"]{
    color: royalblue;
} */

/* .div1{
    background-color: greenyellow;
} */

#ip1{
    color: tomato;
}

input{
    color: teal;
}

span{
    color:  gray;
}